@charset "UTF-8";

/* ここから書く */
.wrapper {
  width: 400px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: #141f40;
}

.main {
  display: flex;
}

.side {
  width: 150px;
  background-color: #80bfa8;
}

.content {
  width: 250px;
}

.content-top {
  display: flex;
}

.content-top-left {
  width: 150px;
}

.content-top-left-top {
  height: 50px;
  background-color: #dbd400;
}

.content-top-left-bottom {
  height: 100px;
  background-color: #0093b7;
}

.content-top-right {
  width: 100px;
  background-color: #ff9e6b;
}

.content-bottom {
  height: 100px;
  background-color: #8c2727;
}

.footer {
  height: 100px;
  background-color: #d98d30;
}
